extends layout

block content
  h1= title
  table
    tr
      th Date
      th Num
      th Title
      th Desc
      th Abstract
      th CoverLink
      th Tags
    each val in data
      form(action="/edit/indexArticlesDelete", method="post" enctype="multipart/form-data")
        tr
          td= val.date
          td= val.num
          td= val.title
          td= val.desc
          td= val.abstract
          //- td= href=val.coverLink
          td
            a(href=val.coverLink target="_blank") 
              img(src=val.coverLink, alt="图片链接失效")
          td= val.tags
          td
            input(type="hidden", id="id", name="id", value=val.id)
            input(type="submit", value="删除")

    form(action="/edit/indexArticlesInsert", method="post", enctype="multipart/form-data")    
      tr
        td now
        td
          input(type="num", name="num")
        td
          textarea(name="title", cols="20", rows="3")
          //- input(type="textarea", name="title" rows="3")
        td
          textarea(name="description", cols="20", rows="3")
          //- input(type="textarea", name="description" rows="3")
        td
          textarea(name="abstract", cols="20", rows="3")
          //- input(type="textarea", name="abstract" rows="3")
        td
          input(type="file", name="cover")
        td
          span tag1
            input(type="checkbox", name="tags" value="tag1")
          span tag2
            input(type="checkbox", name="tags" value="tag2")
          span tag3
            input(type="checkbox", name="tags" value="tag3")
          span tag4
            input(type="checkbox", name="tags" value="tag4")
        td
          input(type="hidden", id="filepath", name="filepath", value="images")
          input(type="hidden", id="extname", name="extname", value="")
          input(type="submit")


